$critical: #F21A06;
$warning: #F46C0F;
$healthy: #3CC674;

.dashboard-card {
  padding: 0;
  margin-bottom: 3rem;
  height: 24rem;

  &.bx--module {
    .bx--module__inner {
      background-color: transparent;
      box-shadow: none;
      color: #fff;
    }

    .bx--module__title, .bx--module__body, .bx--module__header {
      color: #fff;
      border: none;
    }

    td {
      color: #000;
    }
  }

  &__critical {
    background: linear-gradient(135deg,  #f21804 0%,#eaa391 99%);
  }

  &__warning {
    background: linear-gradient(135deg, #ed5a00 0%,#ff7400 41%,#f7d2ad 100%);
  }

  &__healthy {
    background-color: #fff;
    color: #000;

    .bx--module__title, .bx--module__body, .bx--module__header {
      color: #000!important;
    }
  }
}

.dashboard-overview {
  display: flex;
  justify-content: center;
}

.dashboard-count {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 1rem;
}

@mixin circle($size) {
  height: $size;
  width: $size;
  border-radius: 100%;
}

$orbSize: 4rem;
$innerOrbSize: $orbSize - 0.4rem;

.dashboard-orb {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  @include circle($orbSize);
  padding: 0;

  &__inner {
    @include circle($innerOrbSize);
  }

  &__critical {
    border: 3px solid $critical;
  }

  &__warning {
    border: 3px solid $warning;
  }

  &__healthy {
    border: 3px solid $healthy;
  }
}

.dashboard-table {
  margin-top: 1rem;
  min-width: 0;
}

.dashboard-status {
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 0.5em 0;
  img {
    margin-right: 1em;
    height: 1rem;
  }
}
