@import 'node_modules/carbon-components/scss/globals/scss/_vars';


$critical: $support-01;
$healthy: $support-02;
$warning: $support-03;

.bx--module.bx--module--single {
  max-width: 26rem;
}

.dashboard-card {
  padding: 0;
  margin-bottom: 3rem;
  margin-right: 1rem;
  margin-left: 1rem;
  height: 26rem;

  &.bx--module {
    .bx--module__inner {
      background-color: transparent;
      box-shadow: none;
      color: $color__white;
    }

    .bx--module__title, .bx--module__body, .bx--module__header {
      color: $color__white;
    }

    td {
      color: #000;
    }
    .bx--module__content p {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: block;
      max-width: 15rem;
    }
  }

  &__critical {
    background: linear-gradient(135deg,  $critical 0%, $color__red-40 40%, $color__red-30 100%);
  }

  &__warning {
    background: linear-gradient(135deg, $warning 0%, $color__yellow-20 20%, $color__yellow-10 75%);
  }

  &__healthy {
    background-color: $color__white;
    color: #000;

    .bx--module__title, .bx--module__body, .bx--module__header {
      color: #000!important;
    }
  }
}

.dashboard-overview {
  display: flex;
  justify-content: center;
}

.dashboard-count {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 1rem;
}

@mixin circle($size) {
  height: $size;
  width: $size;
  border-radius: 100%;
}

$orbSize: 4rem;
$innerOrbSize: $orbSize - 0.4rem;

.dashboard-orb {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color__white;
  color: #000;
  @include circle($orbSize);
  padding: 0;

  &__inner {
    @include circle($innerOrbSize);
  }

  &__critical {
    border: 3px solid $critical;
  }

  &__warning {
    border: 3px solid $warning;
  }

  &__healthy {
    border: 3px solid $healthy;
  }
}

.dashboard-table {
  margin-top: 1rem;
  min-width: 0;
}

.dashboard-status {
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 0.5em 0;
  .table-status-icon {
    margin-right: 1rem;
    height: 1rem;
    &__healthy {
      fill: $healthy
    }
    &__critical {
      fill: $critical
    }
    &__warning {
      fill: $warning
    }
  }
}

.dashboard-card-text {
  font-weight: bold;
  &__critical {
    color: $color__white;
  }

  &__warning {
    color: $color__white;
  }

  &__healthy {
    color: #000;
  }
}

.dashboard-card-separator-text {
  font-weight: bold;
  text-align: center;
  padding-top: 1.8rem;
}
