/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2018. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/
@import 'node_modules/carbon-components/scss/globals/scss/_colors';

/**
 * <div class="react-tags">
 *   <div class="react-tags__selected">
 *     <button class="react-tags__selected-tag">
 *       <span class="react-tags__selected-tag-name" />
 *     </button>
 *   </div>
 *   <div class="react-tags__search">
 *     <div class="react-tags__search-input">
 *       <input />
 *       <div />
 *     </div>
 *     <div class="react-tags__suggestions">
 *       <ul>
 *         <li class="is-active">
 *           <mark />
 *         </li>
 *         <li class="is-disabled">
 *           <mark />
 *         </li>
 *       </ul>
 *     </div>
 *   </div>
 */



/* Styles for the button */
.tagInput-copyButton {
  transform: scale(0.9);
  fill: $color__navy-gray-7;
  display: inline-block;
  float: left;
  margin-top: 0.5rem;
  margin-left: 3rem;
  &:hover {
    fill: $color__navy-gray-1;
  }
}

.tagInput-filterButton {
  transform: scale(0.8);
  fill: $color__navy-gray-7;
  display: inline-block;
  float: left;
  margin-top: 1rem;
  margin-left: 0.5rem;
  &:hover {
    fill: $color__navy-gray-1;
  }
}

.tagInput-clearAll {
  color: $color__blue-50;
  width: 4rem;
  left: calc(100% - 7.5rem);
  margin-top: 2rem;
  float: right;
  font-weight: bold;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}



/* Styles for the combo */
.tagInput-comboBox {
  float: left;
  padding-bottom: 0.5rem;
  width: calc(100% - 6rem);
  &__hasTags {
    height: 7rem;
  }

  &__noTag {
    height: 4rem;
  }
}

.react-tags {
  position: relative;
  padding-top: 0.5rem;

  /* shared font styles */
  font-size: 0.9em;
  line-height: 1.2;

  /* clicking anywhere will focus the input */
  cursor: text;
}

.react-tags.is-focused {
  border-color: $color__white;
}

.react-tags__selected {
  margin-top: 3.5rem;
  overflow: hidden;
  flex-wrap: wrap;
  display: inline-flex;
  max-height: 2.25rem;
  transition: max-height 0s 0.1s ease-in;
  &:hover {
    height: auto;
    max-height: 6.9rem; // expand to display 3 rows
    overflow: auto;
    transition: max-height 0.1s 0.1s ease-in;
    box-shadow: 0px 8px 4px -4px $color__navy-gray-7;
    border-width: 0;
    background-color: $color__gray-3;
    width: 100%;
    position: relative;
    z-index: 100
  ;
  }
}

.react-tags__selected-tag {
  display: inline-block;
  background: $color__blue-50 no-repeat right 8px center;
  color: $color__white;
  padding: 0.2rem 1rem;
  border-radius: 1.5rem;
  transition: all .6s ease-out;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  height: 1.75rem;
  /* match the font styles */
  font-size: inherit;
  line-height: inherit;

  :after {
    content: '\2715';
    color: $color__white;
    margin-left: 1rem;
  }
  :hover,
  .react-tags__selected-tag:focus {
    border-color: $color__white;
  }
}



/* Styles for search input */
.react-tags__search {
  margin-top: -4.2rem;
  width: 100%;
  position: absolute;
  top: 5rem;
}

.react-tags__search input {
  width: 100%;
  // color of input box, cannot find a referenced one from Carbon _colors.scss
  background-color: #e2e9f3;
  padding-left: 1rem;

  /* remove styles and layout from this element */
  border: 0;
  outline: none;
  height: 2rem;

  /* match the font styles */
  font-size: 0.875rem;
  font-family: "ibm-plex-sans", Helvetica Neue, Arial, sans-serif;
  color: $color__blue-90;
}




/* Styles for suggestions */
.react-tags__suggestions {
  position: absolute;
  z-index: 2000;
  top: 100%;
  left: 0;
  width: 100%;
}

.react-tags__suggestions ul {
  margin: 4px -1px;
  padding: 0;
  list-style: none;
  background: $color__white;
  border: 1px solid #D1D1D1;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.react-tags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 6px 8px;
}

.react-tags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

.react-tags__suggestions li:hover {
  cursor: pointer;
  background: #eee;
}

.react-tags__suggestions li.is-active {
  background: #b7cfe0;
}

.react-tags__suggestions li.is-disabled {
  opacity: 0.5;
  cursor: auto;
}
