/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2017. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/
@import 'node_modules/carbon-components/scss/globals/scss/_colors';
@import 'variables';

.refresh-select {
    display: flex;

    .bx--form-item {
      margin: 0;
    }

    .bx--select-input {
      font-size: 12px;
      height: 20px;
    }

    .bx--select__arrow {
      top: 6px;
    }

    .refresh-button {
      cursor: pointer;
      background-color: $mcm_background_color;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;

      .refresh-button-icon {
        stroke: none;
        fill: $color__blue-51;
      }
    }
}
