/** *****************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2018, 2019. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure 
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 *******************************************************************************/

@import 'node_modules/carbon-components/scss/globals/scss/_colors';

.related-resource-tile {
  display: flex;
  align-items: center;

  &.content {
    display: flex;
    align-items: baseline;
    padding-left: .5rem;
    min-width: 18rem;
  }

  &.count {
    font-size: 2rem;
    font-weight: 100;
    color: $color__blue-51;
  }

  &.icon {
    width: 3rem;
    height: 3rem;
    padding-right: 1rem;
    border-right: 1px solid $color__gray-1;
  }

  &.text {
    padding-left: .5rem;
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 600;
    color: $color__navy-gray-6;
  }

  &-loading {
    min-width: 15rem;
  }
}


.tile-icon {
  stroke-width: 3px;
  fill: #fff;

  &.applications {
    stroke: $color__teal-40;
  }
  &.pods {
    stroke: $color__purple-30;
  }
  &.services {
    stroke: $color__blue-60;
  }
  &.deployments {
    stroke: $color__purple-60;
  }
}