/** *****************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2018, 2019. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure 
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 *******************************************************************************/
@import 'node_modules/carbon-components/scss/globals/scss/_colors';

.search-notification {
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1001;
  top: 3rem;
  position: sticky;
  background: linear-gradient(to bottom, $color__white 50%, transparent 50%);

  .bx--inline-notification--warning {
    margin: 1rem auto 0 auto;
    max-width: 90%;
    align-items: center;
    z-index: 1001;
    .bx--inline-notification__text-wrapper * {
      padding: 2px;
    }
  }

  .secondary-header-wrapper .secondary-header .bx--detail-page-header--with-tabs {
    top: unset;
    position: relative;
  }
}

.search--resource {
  display: flex;
  flex-direction: column;

  .search--related-results {
    display: flex;
    margin: 1rem 0 1rem 0;

    .bx--tile {
      display: flex;
      margin-right: 1rem;
    }
    .bx--tile:last-child {
      margin-right: 0rem;
    }
  }

  .search--resource-table {
    margin-top: 2rem;

    .search--resource-table-header {
      font-weight: 600;
      font-size: 1.125rem;
      margin-bottom: 0.5rem;
      color: $color__blue-90;
      text-transform: capitalize;

      &-button {
        display: flex;
        align-items: center;
        border: none;
        background-color: transparent;
        color: $color__blue-90;
        font-weight: 600;
        font-size: 1.125rem;
        padding: 0rem;
        margin-bottom: 0.5rem;
        text-transform: capitalize;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }

        &-icon {
          fill: $color__blue-90;
          width: 20px;
        }
      }
    }

    .bx--data-table-v2-header {
      text-transform: capitalize;
    }
  }
}

.search--results-view {
  margin-top: 2rem;
}

.spacer {
  width: 1rem;
}

@media (max-width: 768px) {
  .search-notification{
    background: $color__white;
  }
}