/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2017. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/
@import 'node_modules/carbon-components/scss/globals/scss/_colors';

.resource-table-container {
  &__actions {
    display: flex;
    justify-content: space-between;
    width: 99.9%;
    margin-bottom: 9px;

    .bx--search {
      width: 360px;
    }

    button {
      margin-left: 15px
    }
  }

  &__table {
    .bx--pagination {
      width: 99.9%;
      border: 2px solid $color__gray-1;
      border-bottom: 0;
    }

    .bx--overflow-menu {
      margin-left: 1rem;
    }

    ul, ol {
      padding: .375rem 0 .375rem 0;
    }
  }

  .resource-action {
    margin-left: 15px;
  }

  .bx--responsive-table-container {
    overflow: visible;
  }

  .bx--overflow-menu-options__option--danger:only-child {
    border-top: 0;
  }
}

.table-header-sortable {
  cursor: pointer;
  &.inactive {
    cursor: initial;
    .bx--table-sort__svg {
      visibility: hidden;
    }
  }
  .bx--table-sort__svg {
    margin-left: 3px;
  }
}

.table-overlay {
  opacity: 0.5;
}

.search-no-results {
  font-style: italic;
  padding-top: 1rem;
  font-weight: 200;
}

.table-status-row {
    display: flex;
    margin-left: -.5rem;
    img {
      height: 1rem;
      margin-right: 0.4rem;
    }

    p {
      text-transform: capitalize;
    }
}
