/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2018. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/
@import 'node_modules/carbon-components/scss/globals/scss/_colors';


/********************************************
 ****   PURE TOPOLOGY PAGE ********
 ********************************************/

.topologyDiagramContainer {
  height: 100%;

  .diagramViewerDiagram {
      margin: 0 1rem 1rem 1rem;
      position: relative;

    .diagramViewerTitle {
        color: $color__blue-90;
        line-height: 25px;
        margin: 1rem 1rem 0 1rem;
    }

    .diagramViewerContainerContainer {
        width: 100%;
        height: calc(100vh - 280px);
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10);
        overflow: hidden;
        position: relative;
        background-color: #fff;

        &.scrolled {
          overflow-y: auto;
          overflow-x: hidden;
        }

       .diagramViewerContainer {
          width: 100%;
       }
    }
  }
}

/********************************************
 ***   HYBRID RESOURCE/TOPOLOGY PAGE ******
 ********************************************/

.resourceDiagramContainer {
   position: relative;

   .diagramViewerDiagram {

    .diagramViewerTitle {
      color: $color__blue-90;
      line-height: 1.2rem;
    }

   .diagramViewerContainerContainer {
      width: 100%;
      height: calc(100vh - 220px);
      background-color: #fff;
      position: relative;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10);
      overflow: hidden;

      .secondaryLoad {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &.scrolled {
        overflow-y: auto;
        overflow-x: hidden;
      }

      .diagramViewerContainer {
        margin-right: 0;
      }
    }
  }

  .diagram-type-filter-bar {
    position: absolute;
    top: -2px;
    right: 0;
  }
}

.diagramViewerContainer {
  .hub-label {
    font-weight: bold;
  }

  &.search-mode {
    .matched {
      stroke: #000000;
      stroke-width: 1;
    }
    .hub-label {
      font-weight: normal;
    }
  }
}

/********************************************
 *****  SHOW FILTER BAR  *****
 ********************************************/
.topologyPage {
  .filter-bar {
    visibility: hidden;
  }
}

.topologyPage.first-load {
  .filter-bar {
    visibility: visible;
  }
}

.topologyTab {
  .filter-bar {
    visibility: hidden;
  }
}

.topologyTab.first-load {
  .filter-bar {
    visibility: visible;
  }
}

.title {
  text {
    text-anchor: middle;
    fill: $color__navy-gray-4;
    cursor: default;
  }
}

.topologyTab {
    margin: 0 .5rem 0 .5rem;
}

.topologyNoCluster {
    margin-top: 54px;
}

.topologyFilters {
    background-color: $color__white;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 1rem 0 1rem;
    padding: 0 20px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10);
    position: relative;

    & > div {
        display: flex;
        flex-direction: column;
        flex-grow: 0;
    }

    & > div.topology-type-filter-bar {
      position: absolute;
      right: 1rem;
      bottom: -2rem;
      z-index: 999;
    }
}

svg.topologyDiagram {
    height: 100%;
    width: 100%;
}

.zoom-in {
  position: absolute;
  bottom: 72px;
  right: 40px;
}

.zoom-out {
  position: absolute;
  bottom: 40px;
  right: 40px;
}

.zoom-target {
  position: absolute;
  bottom: 115px;
  right: 40px;
}
