/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2018. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/
@import 'node_modules/carbon-components/scss/globals/scss/_colors';
 
.topologyDiagramContainer {
    height: 100%;
}

.topologyTab {
    height: calc(100% - 54px - 80px);
    margin: 0 .5rem 0 .5rem;
}

.topologyWithDetails {
    flex-grow: 2;
    height: calc(100% - 54px);
}

.topologyFilters {
    background-color: $color__white;
    display: flex;
    flex-wrap: nowrap;
    margin: 1rem 0 .5rem 1rem;

    & > div {
        flex-grow: 0;
        margin: 0 .5rem 0 0;
    }
}

svg.topologyDiagram {
    height: 100%;
    width: 100%;
}

.detailsCard {
    position: absolute;
    right: 2rem;
    top: 12rem;
    animation: slidein 600ms cubic-bezier(.175, .885, .32, 1.275);
    z-index: 10;
}

@keyframes slidein {
    0% {
      opacity: 0;
      right: -5rem;
    }
  
    100% {
      opacity: 1;
      right: 2rem;
    }
  }

