/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2018. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/
 @import 'node_modules/carbon-components/scss/globals/scss/_colors';
.node {
  text {
      text-anchor: middle;
      font-size: .75rem;
      fill: $color__navy-gray-4;
  }

  // TODO: This is a placeholder style.  Must style according to design.
  &:hover {
      polygon:nth-child(1) {
        stroke-opacity: 0.2;
      }
      circle:nth-child(1) {
        stroke-opacity: 0.2;
      }
  }

  // TODO: This is a placeholder style.  Must style according to design.
  &:focus, &:focus-within {
      * {
          outline: none;
      }
      polygon:nth-child(1) {
        stroke-opacity: 0.2;
      }
      circle:nth-child(1) {
        stroke-opacity: 0.2;
      }
  }

  .shadow {
      stroke-width: 20px;
      stroke-opacity: 0;
      stroke-linejoin: round;
  }

  .main {
    stroke-width: 3px;
    stroke-opacity: 1;
    fill: #ffffff;
  }

  .centralCircle {
    stroke-width: 0px;
    stroke-opacity: 0;
    opacity: 1;
  }
}

.cluster {
  stroke: #3C6DF0;
  fill: #3C6DF0;
  border-top: 6px solid #3c6df0;
}
.container {
  stroke: #48D4BB;
  fill: #48D4BB;
  border-top: 6px solid #48D4BB;
}
.daemonset {
  stroke: #00A68F;
  fill: #00A68F;
  border-top: 6px solid #00A68F;
}
.deployment {
  stroke: #473793;
  fill: #473793;
  border-top: 6px solid #473793;
}
.host {
  stroke: #FF3CA0;
  fill: #FF3CA0;
  border-top: 6px solid #FF3CA0;
}
.internet {
  stroke: #83ffa6;
  fill: #83ffa6;
  border-top: 6px solid #83ffa6;
}
.pod {
  stroke: #becfff;
  fill: #becfff;
  border-top: 6px solid #becfff;
}
.service {
  stroke: #ffce9b;
  fill: #ffce9b;
  border-top: 6px solid #ffce9b;
}
.statefulset {
  stroke: #69ff13;
  fill: #69ff13;
  border-top: 6px solid #69ff13;
}
.default {
  stroke: #ff6671;
  fill: #ff6671;
  border-top: 6px solid #ff6671;
}
