/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2018. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/
 @import 'node_modules/carbon-components/scss/globals/scss/_colors';

.link {
  line {
      stroke: #D1D7F4;
      stroke-width: 3px;
      stroke-opacity: 1;
  }

  text {
      text-anchor: middle;
      font-size: .6rem;
      fill: $color__navy-gray-4;
  }

  .directionDecorator {
      stroke: #D1D7F4;
      stroke-width: 3px;
      fill: #D1D7F4;
  }
}
