/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2018. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/
 @import 'node_modules/carbon-components/scss/globals/scss/_colors';

.topologyDetails {
  position: absolute;
  top: 12rem;
  right: 1rem;
  background-color: $color__white;
  box-shadow:-1px 0 7px 0 rgba(0,0,0,0.10);
  width: 300px;
  height: 50%;

  h3 {
    margin: .5rem 0 0 .5rem;
  }

  hr {
    border: 1px solid $color__navy-gray-8;
    width: 98%;
    margin-bottom: 1rem;
  }

  div {
    margin: .5rem 0 0 .5rem;
  }

  .sectionContent {
    margin-left: 1rem;
  }

  .label {
    font-family:IBMPlexSans-SemiBold;
    font-size: .75rem;
    color: $color__blue-90;
    letter-spacing: 1.27px;
    line-height: 1rem;
  }

  .value {
    font-family:IBMPlexSans;
    font-size: .75rem;
    color: $color__navy-gray-6;
  }
}
