#ApplicationDeploymentHighlightsTerminology {
  .bx--tile {
    border: 0;
    box-shadow: none;
    overflow: auto;
  }

  .bx--tile:first-child {
    border-left: 5px solid #dee3e6;
    border-right: 5px solid #dee3e6;
  }

  .bx--tile div {
    width: 25%;
    padding-left: 1.5em;
    padding-right: 1.5em;
    float: left;
  }

  .bx--tile .deployment-highlights-terminology-header {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  .bx--accordion__content {
    padding-left: 0;
    padding-right: 0;

    .bx--tile {
      padding: 1.5rem 0.5rem;
    }
  }

  .bx--accordion__title {
    color: #4676b5;
  }
}
