#ApplicationDeploymentHighlightsTerminology {
  .bx--tile {
    border: 0;
    box-shadow: none;
    overflow: auto;
  }

  .bx--tile:first-child {
    border-left: 2px solid black;
  }

  .bx--tile div {
    width: 33.33%;
    padding-left: 2em;
    padding-right: 2em;
    float: left;
  }

  .bx--tile .deployment-highlights-terminology-header {
    font-size: 1.2em;
  }

  .bx--accordion__content {
    padding-left: 0;
    padding-right: 0;
  }

  .bx--accordion__title {
    color: #4676b5;
  }

  .bx--accordion__heading {
    padding-bottom: 20px;
  }
}
