.vscode
.idea
*.log
.DS_Store
public
dll
test-reports
coverage
jestTestLogs.tap
config/config-development.json
test-output
test/coverage
test/out
storybook-static
test-report.xml
tests/jest/config/platform-properties.json 
build-harness-extensions/
build-harness/
.build-harness-bootstrap
!vbh/.build-harness-bootstrap
!vbh/build-harness
!vbh/build-harness-extensions
