.vscode
.idea
*.log
.DS_Store
node_modules
public
dll
test-reports
coverage
jestTestLogs.tap
config/config-development.json
test-output
test/coverage
test/out
storybook-static
build-harness-bootstrap
build-harness
test-report.xml
tests/jest/config/platform-properties.json 
# Files
.build-harness