# Using Jorge's id because ${ARTIFACTORY_PWD} needs to be updated every time the id password changes.
# Using API KEY is much better solution, but I failed to authenticate with this repo using API KEY
#
@icp:registry=https://eu.artifactory.swg-devops.com/artifactory/api/npm/hyc-ibm-pvt-cloud-npm-local/
//eu.artifactory.swg-devops.com/artifactory/api/npm/hyc-ibm-pvt-cloud-npm-local/:_password=${ARTIFACTORY_PWD}
//eu.artifactory.swg-devops.com/artifactory/api/npm/hyc-ibm-pvt-cloud-npm-local/:username=jpadilla@us.ibm.com
//eu.artifactory.swg-devops.com/artifactory/api/npm/hyc-ibm-pvt-cloud-npm-local/:email=jpadilla@us.ibm.com
//eu.artifactory.swg-devops.com/artifactory/api/npm/hyc-ibm-pvt-cloud-npm-local/:always-auth=true

@ibma:registry=https://na-blue.artifactory.swg-devops.com:443/artifactory/api/npm/res-ibma-npm/
//na-blue.artifactory.swg-devops.com:443/artifactory/api/npm/res-ibma-npm/:_password=QUtDcDViQnJQZTZ1VUJHdmlaMW1lR1l0WTVNUHhYaVZBajd2alhEUG9DcDhZVUxKWHN2aVJBMXJqcnNaUnJ0MWs3cWdZUGY5cg==
//na-blue.artifactory.swg-devops.com:443/artifactory/api/npm/res-ibma-npm/:username=mcmdev@us.ibm.com
//na-blue.artifactory.swg-devops.com:443/artifactory/api/npm/res-ibma-npm/:email=mcmdev@us.ibm.com
//na-blue.artifactory.swg-devops.com:443/artifactory/api/npm/res-ibma-npm/:always-auth=true