#DeployableModal {
  .bx--modal-container {
    max-width: 50%;
    height: 100%;
    max-height: 100%;
    right: 0;
    position: absolute;
  }

  .bx--btn--secondary {
    visibility: hidden;
  }

  .addSubscriptionButton {
    display: inline-block;
    padding-left: 15px;
  }

  .channelInfoClass {
    padding-top: 25px;
  }

  .deployableInfoClass {
    padding-top: 25px;
  }

  .innerContent {
    border-left: #dde6ec;
    border-left-width: 5px;
    border-left-style: solid;
  }

  .bold {
    display: inline-block;
    font-weight: bold;
    width: 220px;
  }

  .label {
    display: inline-block;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .label-indented {
    display: inline-block;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
  }

  .value {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .valueGroupItem {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .valueGroup {
    display: inline-flex;
    flex-flow: column;
  }

  .placement {
    padding-left: 15px;
    padding-top: 5px;
  }

  .clusters {
    padding-top: 10px;
  }

  .labels {
    padding-top: 10px;
  }

  .versions {
    padding-left: 15px;
  }

  .update {
    padding-left: 15px;
  }

  .conditions {
    padding-left: 15px;
    display: block;
  }

  .subHeader {
    padding-bottom: 15px;
  }
}
