/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2019. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/
@import "node_modules/carbon-components/scss/globals/scss/_colors";
@import "../../../scss/variables";

#ChannelsCardModule {
  padding-top: 1px;

  .card-container-container {
    display: inline-block;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    padding-right: 10px;

    > div {
      flex-basis: 34%;
      flex-grow: 0;
      --is-end: 1;
    }

    > div:nth-child(3n + 3) {
      flex-basis: 32%;
      flex-grow: 0;
      --is-end: 0;
    }

    .card-container {
      //self-defined property --is-end to determine last item layout
      padding: 10px calc(20px * var(--is-end)) 10px 10px;

      .card-content {
        display: flex;
        flex-direction: column;
        height: 160px;
        min-width: 16rem;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

        .card-name {
          font-weight: bold;
          padding: 20px;
          font-size: 16px;
        }

        .card-count-content {
          display: flex;
          padding: 10px;
          height: 100%;
          border-top: 1px solid $color__gray-1;
          align-items: center;

          > div {
            flex-basis: 50%;
          }

          .card-count-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            font-size: 12px;
            color: $color__navy-gray-6;
            padding: 10px 0;

            &:hover {
              cursor: pointer;

              .card-status {
                color: $color__blue-51;
                text-decoration: underline;
              }
            }

            .card-count {
              display: flex;
              height: 48px;
              line-height: 34px;
              align-items: flex-end;
              padding-bottom: 16px;
              align-items: baseline;

              .card-count-total {
                font-size: 34px;
                padding-right: 3px;
                color: $color__navy-gray-6;
              }
            }
          }
        }
      }
    }
  }

  .individualCard {
    display: inline-block;
  }
}
