/*******************************************************************************
 * Licensed Materials - Property of IBM
 * 5737-E67
 * (c) Copyright IBM Corporation 2018, 2019. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure 
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 *******************************************************************************/
@import 'node_modules/carbon-components/scss/globals/scss/_colors';
@import 'scss/variables';
$overview-view-width: 1540px !default;
$overview-heat-collapsed: 90px !default;

#ApplicationDeploymentSummary {
  .drag-place-holder {
    border: 3px dashed $color__navy-gray-7;
    background-color: $color__white;

    > div {
      visibility: hidden;
    }
  }

  .recharts-wrapper {
    display: block;
    margin: auto;
  }

  .title {
    height: 18px;
    color: #152935;
    font-family: "IBM Plex Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin-left: 14px;
    margin-top: 18px;
  }

  .no-res-icon {
    margin-top: 50px;
    margin-right: 15px;
    margin-left: 20px;
    height: 90px;
    width: 90px;
    display: inline-block;
  }

  .noResDescriptionText {
    padding-right: 15px;
    padding-top: 70px;
    display: inline-block;
    font-size: 12px;
    position: absolute;
  }

  .noResTitle {
    font-size: 14px;
    font-weight: 700;
    color: black;
  }

  .noResDescription {
    font-size: 12px;
    padding-top: 10px;
  }

  .masonry-container {
    margin-top: 40px;
    display: inline-flex;
    width: 100%;
  }

  .masonry-class {
    min-height: 331px;
  }

  /* *********************  base card ************************ */

  @keyframes appear {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .grid-item-deployable {
    margin-right: 20px;
  }

  .grid-item {
    margin-bottom: $overview-card-margin-bottom;
    background-color: $color__white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    margin-left: 0px;
    min-width: 450px;
    width: 100%;
    min-height: 250px;

    &.replaced {
      animation: appear 400ms ease-in-out;
    }

    .masonry-class.dragging &:hover .grid-menu {
      visibility: hidden;
    }
  }
}
