/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2018, 2019. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/
@import 'node_modules/carbon-components/scss/globals/scss/_colors';
@import 'scss/variables';
$overview-view-width: 1540px !default;
$overview-heat-collapsed: 90px !default;

#ApplicationDeploymentSummary {
  .drag-place-holder {
    border: 3px dashed $color__navy-gray-7;
    background-color: $color__white;

    > div {
      visibility: hidden;
    }
  }

  .masonry-container {
    width: $overview-view-width;
    margin: 10px auto 0;
  }

  /* *********************  base card ************************ */

  @keyframes appear {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .grid-item {
    margin-bottom: $overview-card-margin-bottom;
    background-color: $color__white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    position: relative;

    .title {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #dfe3e6;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0;
      color: $color__blue-90;
      padding: 11px 24px;
      cursor: move;

      .bx--tag {
        margin-left: 10px;
      }
    }

    &.replaced {
      animation: appear 400ms ease-in-out;
    }

    .masonry-class.dragging &:hover .grid-menu {
      visibility: hidden;
    }

    .grid-view {
      .title {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #dfe3e6;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 0;
        color: $color__blue-90;
        padding: 11px 24px;
        cursor: move;

        .bx--tag {
          margin-left: 10px;
        }
      }
    }
  }
}