/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2018, 2019. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/
@import 'node_modules/carbon-components/scss/globals/scss/_colors';
@import 'scss/variables';


.resourceDiagramSourceContainer {
  height: 400px;
  position: relative;

  .resourceDiagramContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    .diagram-title {
      position: absolute;
      z-index: 10;
      font-weight: bold;
      left: 10px;
      top: 10px;
      font-size: 14px;
    }

    .diagram-type-filter-bar {
      position: absolute;
      display: flex;
      justify-content: flex-end;
      z-index: 10;
      bottom: 10px;
      left: 10px;
    }

    .resource-diagram-toolbar {
      position: fixed;
      top: calc(#{$secondary-header-top} + 14px);
      right: 30px;
      z-index: 1001;
      background-color: $color__white;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &.split {
    .resourceDiagramContainer {
      .diagram-type-filter-bar {
        justify-content: flex-start;
      }
    }
  }

  .resourceEditorContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    .resource-editor-toolbar {
      display: flex;
      align-items: center;
    }

    .bx--inline-notification {
      position: absolute;
      top: 16px;
      left: 16px;
      z-index: 1000;
      background-color: white;
    }

    .closeIcon {
      position: absolute;
      top: 3px;
      right: 4px;
      z-index: 1000;
      fill: $color__navy-gray-6;
      stroke: $color__navy-gray-6;
      cursor: pointer;
    }
  }

  .yamlEditorContainer {
    height: calc(100% - 30px);
  }

  .Resizer {
    width: 0;
    opacity: .2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    border-left: 3px solid rgba(255, 255, 255, 0);
    border-right: 3px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
    margin: 0 5px;
  }

   .Resizer:hover {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }

  .Resizer.vertical:hover {
      background: rgba(0, 0, 0, 0.5);
  }

  .ace-monokai .ace_marker-layer .ace_selection {
    background-color: #808080
  }
}

