/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2018, 2019. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/
@import 'node_modules/carbon-components/scss/globals/scss/_colors';
@import 'scss/variables';


/********************************************
 ***   HYBRID RESOURCE/TOPOLOGY PAGE ******
 ********************************************/

.resourceDiagramControlsContainer {
   position: relative;

   .diagramViewerDiagram {

   .diagramViewerContainerContainer {
      width: 100%;
      height: 400px;
      background-color: #fff;
      position: relative;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10);
      overflow: hidden;

      .secondaryLoad {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &.scrolled {
        overflow-y: auto;
        overflow-x: hidden;
      }

      .diagramViewerContainer {
        margin-right: 0;
      }

      .bx--inline-notification--error {
        position: absolute;
        top: 16px;
        right: 16px;
      }

    }
  }
}

.diagramViewerDiagram {

  .diagramRefreshContainer {
    position: absolute;
    top: 32px;
    right: 20px;
    display: flex;
    align-items: center;
    font-size: 12px;

    .bx--loading--small {
      width: 1rem;
      height: 1rem;
      margin: -2px 0;
      visibility: hidden;
    }

    &.refreshing {
      .bx--loading--small {
        visibility: visible;
      }
    }

  }

}

.diagramViewerContainer {
  .hub-label {
    font-weight: bold;
  }

  &.search-mode {
    .matched {
      fill: #d8124b;
      stroke-width: 0;
    }
    .hub-label {
      font-weight: normal;
    }
  }
}

/********************************************
 *****  SHOW FILTER BAR  *****
 ********************************************/

svg.topologyDiagram {
    height: 100%;
    width: 100%;
}
