/*******************************************************************************
 * Licensed Materials - Property of IBM
 * 5737-E67
 * (c) Copyright IBM Corporation 2019. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure 
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 *******************************************************************************/
@import "../../../node_modules/carbon-components/scss/globals/scss/_colors";
@import "../../../scss/variables";

#ApplicationDeployableHighlights {
  margin-bottom: 5%;

  .deployable-highlights-header {
    font-size: 1.2em;
    padding-bottom: 15px;
  }

  .deployable-highlights-container {
    width: 100%;
    height: 190px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  }

  .deployable-highlights-title {
    width: 100%;
    height: 50px;
    font-size: 0.8em;
    font-weight: bold;
    padding: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }

  .deployable-highlights-info {
    width: 80%;
    float: left;
    border-right: 2px solid $color__gray-1;
    border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 15%, $color__gray-1 15%, $color__gray-1 85%, rgba(0, 0, 0, 0) 85%);
    border-image-slice: 1;

    #CountsCardModuleWithHeader, #CountsCardModule {
        box-shadow: none;
    }
  }

  .deployable-highlights-incidents {
    width: 20%;
    float: right;

    #CountsCardModuleWithHeader, #CountsCardModule {
        box-shadow: none;
    }

    .card-container-content {
      width: 50%;
      margin: 0 auto;
    }
  }
}