/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2019. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/
@import "../../../node_modules/carbon-components/scss/globals/scss/_colors";
@import "../../../scss/variables";

#ApplicationDeployableVersionStatus {
  margin-bottom: 2%;

  .deployable-versionStatus-header {
    font-size: 1.2em;
    padding-bottom: 15px;
  }

  .deployable-version-status-container {
    display: flex;
  }

  .deployable-left-column {
    display: flex;
    flex-direction: column;
    width: 350px;
  }

  .deployable-left-column-header {
    background-color: #3c3c3c;
  }

  .deployable-version-name {
    font-weight: bold;
    color: #2772b7;
  }

  .incidents-count {
    margin-top: 10px;
    color: #2772b7;
    text-decoration: underline;
  }

  .version-status-grid-container {
    display: inline-block;
    overflow: scroll;
    width: calc(100% - 350px);
    border-color: #d5d9db;
  }

  .version-status-column {
    display: inline-block;
    width: 350px;
  }

  .clusters {
    margin-top: 20px;
    font-weight: bold;
    color: #2772b7;
  }

  .clustersIcon {
    margin-left: 5px;
    cursor: pointer;
  }

  .clusters-count {
    margin-top: 10px;
  }

  .environment {
    font-size: 1.2em;
    font-weight: bold;
  }

  .gate-conditions-header {
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
  }

  .gate-conditions {
    margin-top: 10px;
  }

  .bx--tile {
    height: 200px;
    margin: 5px;
  }

  .horizontal-scroll-row {
    width: max-content;
  }

  .yaml-edit {
    text-align: right;
    color: #6c7b85;
  }

  .yamlEditIconTitle {
    font-size: 0.8em;
    display: inline-block;
    margin: 0 5px;
  }

  .yamlEditIcon {
    cursor: pointer;
  }

  .statusTag {
    padding: 0.25em 10px;
    margin-right: 1%;
    border-radius: 0.9375rem;
    font-size: 0.75rem;
    background-color: #dee3e6;
    color: black;
  }

  .statusTagInProgress {
    padding: 0.25em 10px;
    margin-right: 1%;
    border-radius: 0.9375rem;
    font-size: 0.75rem;
    background-color: #c0e6ff;
    color: #325c80;
  }

  .statusTagFailed {
    padding: 0.25em 10px;
    margin-right: 1%;
    border-radius: 0.9375rem;
    font-size: 0.75rem;
    color: #c61934;
    background-color: #ffd0dd;
  }

  .statusTagCompleted {
    padding: 0.25em 10px;
    margin-right: 1%;
    border-radius: 0.9375rem;
    font-size: 0.75rem;
    color: #297811;
    background-color: #bff088;
  }
}