/*******************************************************************************
 * Licensed Materials - Property of IBM
 * 5737-E67
 * (c) Copyright IBM Corporation 2019. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 *******************************************************************************/

#SubscriptionModal {
  .bx--modal-container {
    width: 40%;
    max-height: 100%;
    height: 100%;
    position: absolute;
    font-size: 14px;
    right: 0;
  }

  .bx--modal-content {
    overflow-x: hidden;
  }

  .bx--modal-header {
    margin-bottom: 0px;
  }

  .bx--btn--secondary {
    visibility: hidden;
  }

  .addSubscriptionButton {
    display: inline-block;
    padding-left: 15px;
  }

  .channelInfoClass {
    padding-top: 25px;
  }

  .innerContent {
    border-left: #dee6eb;
    border-left-width: 5px;
    border-left-style: solid;
  }

  .progressHeader {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #dfe3e6;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .subscriptionNameHeader {
    font-size: 28px;
    color: #5a6872;
    font-weight: 300;
    padding-bottom: 30px;
  }

  .innerContentBox {
    padding: 15px;
  }

  .mainSubscriptionHeader {
    display: inline-block;
    font-weight: bold;
    width: 170px;
  }

  .subscriptionInfoHeader {
    display: inline-block;
    width: 150px;
  }

  .subscriptionInfoHeaderIndented {
    display: inline-block;
    width: 130px;
    margin-left: 20px;
  }

  .channelHeader {
    display: inline-block;
    font-weight: bold;
    width: 220px;
  }

  .label {
    display: inline-block;
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .label-indented {
    display: inline-block;
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 20px;
    padding-bottom: 5px;
    width: 80px;
  }

  .value {
    display: inline-block;
    padding-top: 5px;
    padding-left: 2px;
    padding-bottom: 5px;
  }

  .valueGroupItem {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .valueGroup {
    display: inline-flex;
    flex-flow: column;
  }

  .placement {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .clusters {
    padding-top: 10px;
  }

  .labels {
    padding-top: 10px;
  }

  .update {
    padding-left: 15px;
  }

  .conditions {
    padding-left: 15px;
    display: block;
  }

  .conditionStatus {
    padding-left: 15px;
    font-style: italic;
    color: #687982;
  }

  .subHeader {
    padding-bottom: 10px;
  }

  .labelTag {
    padding: 0.25em 10px;
    margin-right: 10px;
    border-radius: 0.9375rem;
    font-size: 0.75rem;
    background-color: #e0eaf5;
    color: black;
  }

  .statusTag {
    margin-left: 10px;
    padding: 0.25em 10px;
    margin-right: 1%;
    border-radius: 0.9375rem;
    font-size: 0.75rem;
    background-color: #dee3e6;
    color: black;
  }

  .statusTagInProgress {
    margin-left: 10px;
    padding: 0.25em 10px;
    margin-right: 1%;
    border-radius: 0.9375rem;
    font-size: 0.75rem;
    background-color: #c0e6ff;
    color: #325c80;
  }

  .statusTagFailed {
    margin-left: 10px;
    padding: 0.25em 10px;
    margin-right: 1%;
    border-radius: 0.9375rem;
    font-size: 0.75rem;
    color: #c61934;
    background-color: #ffd0dd;
  }

  .statusTagCompleted {
    margin-left: 10px;
    padding: 0.25em 10px;
    margin-right: 1%;
    border-radius: 0.9375rem;
    font-size: 0.75rem;
    color: #297811;
    background-color: #bff088;
  }

  .icon {
    margin-left: 5px;
    margin-right: 5px;
  }
}
