#applicationheadertabs {
  .whiteSpacer {
    background-color: white;
    height: 40px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .page-content-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}
