/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2019. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure 
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 *******************************************************************************/

#applicationheadertabs {
  .whiteSpacer {
    background-color: white;
    height: 40px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .some-class {
    z-index: 1;
  }

  .page-content-container {
    padding-right: 0px;
    padding-left: 0px;
  }

  .tech-preview-tag {
    background-color: #d93f00;
    width: 125px;
    height: 26px;
    line-height: 22px;
    border-radius: 3px;
    text-align: center;
    position: absolute;
    right: 5%;
    z-index: 10;

    .bx--tooltip__trigger {
      font-family: RedHatText;
      font-size: 12px;
      color: white;
      border: none;
      cursor: pointer;
    }

    #definition-tooltip-1 {
      background-color: #393939;
      width: 256px;
      max-width: none;
      border-radius: 3px;
      margin-top: 18px;
      padding: 12px;
      right: 0;
      z-index: 10;
    }

    .bx--tooltip__caret {
      background-color: #393939;
      margin-left: 0;
      left: 228px;
    }

    #definition-tooltip-1 > p {
      font-family: RedHatText;
      font-size: 14px;
      text-align: left;
    }
  }
}
