/*******************************************************************************
 * Licensed Materials - Property of IBM
 * 5737-E67
 * (c) Copyright IBM Corporation 2019. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 *******************************************************************************/

#DeploymentPipeline {
  padding-bottom: 20px;

  .deploymentPipelineSearch {
    margin-top: 20px;
    display: inline-block;
  }

  .searchAndButtonContainer {
    display: flex;
  }

  .card-container-title {
    font-weight: 700;
  }

  .pipelineHeader {
    font-size: 18px;
  }

  .AddChannelButton {
    padding-left: 20px;
    display: inline-block;
    margin-top: 20px;
  }

  .AddSubscriptionButton {
    display: inline-block;
    margin-top: 20px;
    padding-left: 20px;
  }

  .addChannelIcon {
    fill: white;
    margin-left: 20px;
  }

  .bx--btn {
    background-color: #f4f7fb;
    border-width: 2px;
    border-style: solid;
    border-color: #4a79b7;
    color: #4a79b7;
  }

  .bx--btn__icon {
    fill: #4a79b7;
  }
}
