/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2019. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

#DeploymentPipeline {
  .deploymentPipelineSearch {
    width: 35%;
    margin-top: 40px;
    display: inline-block;
  }

  .card-container-title {
    font-weight: 700;
  }

  .piplineHeader {
    font-size: 25px;
  }

  .AddChannelButton {
    padding-left: 10px;
    float: right;
    display: inline-flex;
    margin-top: 40px;
  }

  .AddSubscriptionButton {
    display: inline-block;
    float: right;
    margin-top: 40px;
  }

  .addChannelIcon {
    fill: white;
    margin-left: 20px;
  }

  .bx--btn {
    background-color: #f4f7fb;
    border-width: 2px;
    border-style: solid;
    border-color: #4a79b7;
    color: #4a79b7;
  }

  .bx--btn__icon {
    fill: #4a79b7;
  }
}
