/*******************************************************************************
* Licensed Materials - Property of IBM
* (c) Copyright IBM Corporation 2019. All Rights Reserved.
*
* US Government Users Restricted Rights - Use, duplication or disclosure 
* restricted by GSA ADP Schedule Contract with IBM Corp.
*******************************************************************************/
@import "node_modules/carbon-components/scss/globals/scss/_colors";
@import "../../../scss/variables";

#CountsCardModuleWithHeaderAndLink {
  height: 190px;

  .card-container-link {
    color: #3d70b2;
    display: flex;
    margin-left: auto;
    align-self: center;
  }

  .card-container-link a {
    text-decoration: none;
  }

  .card-container {
    width: 100%;
    height: 145px;
    padding: 28px;
  }
}

#CountsCardModuleWithHeader {
  height: 190px;

  .card-container {
    width: 100%;
    height: 145px;
    padding: 28px;
  }
}

#CountsCardModule {
  height: 175px;

  .card-container {
    width: 100%;
    height: 175px;
    padding: 28px;
  }
}

#CountsCardModuleWithHeaderAndLink,
#CountsCardModuleWithHeader,
#CountsCardModule {
  font-family: "IBM Plex Sans";
  width: 100%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

  .card-container-title {
    color: #152935;
    font-family: "IBM Plex Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    width: 100%;
    height: 45px;
    display: flex;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .card-container-content {
    display: flex;
    padding: 0 5%;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .card-count-type {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    &.hasLeftBorder {
      border-left: 1px solid $color__gray-1;
      padding-left: 80px;
    }

    &.hasRightBorder {
      border-right: 1px solid $color__gray-1;
      padding-right: 80px;
    }

    &:hover {
      cursor: pointer;
    }

    &:hover > .card-type {
      color: $color__blue-51;
      text-decoration: underline;
    }
  }

  .card-count {
    line-height: 44px;
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: center;
    color: $mcm_color_blue_gray;

    &.alert {
      color: #e0182d;
    }
  }

  .card-type {
    letter-spacing: 1.03px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    color: $mcm_color_blue_gray;
    text-transform: uppercase;
  }

  .card-text {
    text-align: center;
    font-size: 12px;
    font-style: italic;
    line-height: 20px;
    color: #4a4a4a;
  }
}