/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2019. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure 
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 *******************************************************************************/
@import "node_modules/carbon-components/scss/globals/scss/_colors";
@import "../../../scss/variables";

#ChannelsCardCarousel {
  padding-top: 1px;
  margin-top: 20px;

  .deployment-channels-title {
    font-size: 1.2rem;
    line-height: 1.25;
    font-weight: 300;
    padding: 0px 0 10px 10px;
    display: -webkit-inline-box;
  }

  .paginationContainer {
    float: right;
    background-color: white;
  }

  .pageCounter {
    display: inline-block;
    font-size: 12px;
    padding: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: #dfe3e6;
  }

  .arrowsContainer {
    display: inline-block;
  }

  .leftArrow {
    display: inline-block;
    padding: 15px;
    padding-top: 11px;
    border-width: 1px;
    border-left-width: 0px;
    border-style: solid;
    border-color: #dfe3e6;
  }

  .rightArrow {
    display: inline-block;
    padding: 15px;
    padding-top: 11px;
    border-width: 1px;
    border-left-width: 1px;
    border-style: solid;
    border-color: #dfe3e6;
  }

  .closeIcon {
    cursor: pointer;
  }

  .individualCard {
    display: inline-block;
    width: -webkit-fill-available;
  }

  .card-container-container {
    display: flex;
    width: 100%;

    > div {
      --is-end: 1;
    }

    .card-container {
      //self-defined property --is-end to determine last item layout
      padding: 10px calc(20px * var(--is-end)) 10px 10px;
      padding-right: 0px;

      .card-content {
        display: flex;
        flex-direction: column;
        height: 160px;
        min-width: 16rem;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

        .card-name {
          color: #152935;
          height: 45px;
          font-family: "IBM Plex Sans";
          font-size: 14px;
          font-weight: 600;
          line-height: 18px;
          padding: 15px;
        }

        .card-count-content {
          display: flex;
          padding: 10px;
          height: 100%;
          border-top: 1px solid $color__gray-1;
          align-items: center;

          > div {
            flex-basis: 50%;
          }

          .card-count-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            font-size: 12px;
            padding: 10px 0;

            .card-count {
              color: #5A6872;
              font-family: "IBM Plex Sans";
              font-size: 34px;
              font-weight: 600;
              line-height: 44px;
              text-align: center;

              .card-count-total {
                font-size: 34px;
                padding-right: 3px;
              }
            }
            .card-status {
              color: #5A6872;
              font-family: "IBM Plex Sans";
              font-size: 12px;
              font-weight: 600;
              line-height: 17px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
