#PipelineGrid {
  .firstTotalTile {
    background: black;
    color: white;
    height: 200px;
    position: relative;
  }

  .totalApplications {
    position: absolute;
    bottom: 0;
    margin-bottom: 40px;
    font-size: 20px;
  }

  .totalDeployables {
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
  }

  .tileContainer {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(432px, 1fr));
    grid-template-rows: auto;
    grid-gap: 20px;
  }

  .applicationEntryName {
    font-size: 17px;
    margin-bottom: 25px;
  }

  .tableCell {
    height: 100px;
  }

  .bx--table-expand-v2__svg {
    margin-bottom: 40px;
  }

  .horizontalScroll-outer {
    overflow: scroll;
    width: 100%;
  }

  .horizontalScroll-inner {
    width: 100%;
  }

  .DisplayDeployablesContainer {
    position: absolute;
  }

  .deployableName {
  }
}
